@font-face {
    font-family: 'MyCustomFont';
    src: url('assets/web_font.TTF') format('truetype');
    font-display: swap;
}

h1 {
  color: rgb(0, 66, 136);
}

html, body {
  background-image: url("assets/background.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  background-attachment: fixed;
  margin: 20px;
  padding: 0;
  font-family: 'MyCustomFont';
  color: rgb(0, 66, 136);
  -webkit-text-stroke: 0.5px #78bcff;
}

pre {
  font-family: 'MyCustomFont';
  color: rgb(0, 66, 136);
  -webkit-text-stroke: 0.5px #78bcff;
}

table{
  border: 2px solid rgb(15, 99, 189);
  border-collapse: collapse;
}

tr, td{
    border: 2px solid rgb(15, 99, 189);
}

#restoftable{
  background-color: rgb(53, 139, 219);
}

#tableheader{
    background-color:rgb(29, 110, 196);
}

a {
    color: rgb(0, 66, 136);
    text-decoration: underline;
}

a:visited {
    color: rgb(0, 66, 136); 
    text-decoration: underline;
}

a:hover {
    color: rgb(0, 66, 136);
    text-decoration: underline;
}

hr {
    color: rgb(0, 66, 136);
}