@font-face {
    font-family: 'MyCustomFont';
    src: url('assets/web_font.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

header {
    background-color: rgb(0, 78, 161);
}

h1 {
  color: #6fb7ff;
}

html, body {
  background-color: rgb(0, 66, 136);
  margin: 0;
  padding: 0;
  font-family: 'MyCustomFont', sans-serif;
  color: #78bcff;
}

a {
    color: #78bcff;
    text-decoration: underline;
}

a:visited {
    color: #78bcff; 
    text-decoration: underline;
}

a:hover {
    color: #78bcff;
    text-decoration: underline;
}

hr {
    color: #8bc5ff;
}